/*####### NAVBAR STYLING ######*/
/* Navbar container */


.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Makes signin and sign to float right*/
.navbar a.navbar-right{
	float: right;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #705c5c;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

body {
	margin: 0;
	padding: 0;
	background-color: #e0e0eb;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(study.jpeg);
}


/*####### Styling on the image ######*/

img {
  width: 100%;
  height: 200px;
  max-width: 100%;
  height: auto;
  padding: 0; 
  margin: 0;
  opacity: 1;
  top:0;
  overflow: hidden;
}

.images {
  position: relative;

}

.center {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 50px;
}

/*########## Text on the image ###########*/

.center p {
	font-size: 30px;
	color: #33334d;
}


/*########## NAVBAR STYLING FOR MOBILE ###########*/



/*   The 1st line of the below code tells the browser to look for the 
screen sizes and the browser detects anything less than
680px it will rin the code in the brackets

Explanation of the code in the brackets: we are selecting the list items using the clas TOPNAV
and in the we are putting a condition i.e. " not " means
except this and in that we are passing another condition and that is
the " nth-child " which means the first child of the list items which
is " HOME " over all this code " ul.topnav li:not(:nth-child(1)) " is telling
print only the list item HOME when the screen width goes
below 680px   */
/*@media screen and (max-width: 680px) {
  .navbar a:not(:nth-child(1)) {
    display : none;
  }

  .navbar a.dropdownIcon {
    display: block;
    float: right;
  }
}

.navbar.responsive {
  position :relative;
}

.navbar.responsive a.dropdownIcon {
  position: absolute;
  top: 0;
  right: 0;
}

.navbar.responsive a {
  display: inline;
  float: none;
}

.navbar.responsive a {
  display: block;
  text-align: left;
}
*/

